{% extends "layout.html" %}

{% block content %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('static/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
						<h2>Callidate</h2>
                        <hr class="star-light">
                        <h3 class="skills">Wondering what are some of the highlights of the last debate? Read over the user blog posts!</h3>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Main Content -->
    <div class="container">
      <div class="row">
	<div class="col-lg-8 col-lg-offset-2 text-center">
	  <h1>What do you want to say?</h1>
	  <hr class="small">
	  Post Title:
	  <br>
	  <input type="text" name="title" form="postform">
	  <hr class="small">
	  Post Content:
	  <br>
	  <textarea name="post" form="postform" style="width:90%; height:500px;">
	  </textarea>
	  <form method="POST" action="myposts" id="postform" style="padding:5px;">
	    <input type="submit" name="submit" value="Post">
	  </form>
	</div>
      </div>
	  
	  <hr class="small" style="display:hidden;">
	  
    </div>
	
			<div id="sidebar">
			<a href="/createpost" class="btn btn-default btn-xl">
				Create
			</a>
			<a href="/logout" class="btn btn-default btn-xl">
				Log out
			</a>
		</div>
    
    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>
    
    <!-- Custom Theme JavaScript -->
    <script src="static/js/clean-blog.min.js"></script>
    
{% endblock %}