<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Callidate</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Callidate</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Candidates</a>
                    </li>
					<li class="page-scroll">
						<a href="#contact">Debates</a>
					</li>
                    <li class="page-scroll">
                        <a href="/forum">Forum</a>
                    </li>
                     <li class="page-scroll">
                        <a href="/blog">Let's Talk About It</a>
                    </li>
                     <li class="page-scroll">
                        <a href="/search">Search</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="static/img/profile.png" alt="">
                    <div class="intro-text">
                        <!--<span class="name">Start Bootstrap</span>
                        <hr class="star-light">
                        <span class="skills">Web Developer - Graphic Artist - User Experience Designer</span>-->
                    </div>
                </div>
            </div>
        </div>
    </header>

<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Callidate is a web application targeted for younger people, to give them info on the latest Presidential candidates. This web application also has a forum for people to share their opinions with others, blog for people to post on, and a live Twitter and New York Times feed. Our goal is to spark an interest in politics with America's youth and dramatically raise national voting numbers.  </p>
                </div>
             
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Meet The Candidates</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/cabin.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/cake.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/circus.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/game.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/safe.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/submarine.png" class="img-responsive" alt="">
                    </a>
                </div>
				<div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/submarine.png" class="img-responsive" alt="">
                    </a>
                </div>
				<div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/submarine.png" class="img-responsive" alt="">
                    </a>
                </div>
				<div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal9" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/submarine.png" class="img-responsive" alt="">
                    </a>
                </div>
				<div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal10" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/submarine.png" class="img-responsive" alt="">
                    </a>
                </div>
				<div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal11" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/submarine.png" class="img-responsive" alt="">
                    </a>
                </div>
				<div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal12" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/submarine.png" class="img-responsive" alt="">
                    </a>
                </div>
				<div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal13" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/submarine.png" class="img-responsive" alt="">
                    </a>
                </div>
				<div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal14" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/submarine.png" class="img-responsive" alt="">
                    </a>
                </div>
				<div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal15" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/submarine.png" class="img-responsive" alt="">
                    </a>
                </div>
				<div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal16" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/submarine.png" class="img-responsive" alt="">
                    </a>
                </div>
				<div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal17" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/submarine.png" class="img-responsive" alt="">
                    </a>
                </div>
				<div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal18" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/submarine.png" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What's Coming Up?</h2>
                    <h3>Check out these Upcoming Political Debates</h3>
                    <hr class="star-primary">
					<iframe src='//cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1MQVqRPkx2UzjM4w7k6aTdWZ4ttJZ9qM6P1Yir02vC4E&font=Default&lang=en&initial_zoom=2&height=650' width='100%' height='650' frameborder='0'></iframe>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Callidate 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Jeb Bush</h2>
                            <hr class="star-primary">
                            <img src="static/img/jeb.jpg" class="img-responsive img-centered" alt="">
                            <p>John Ellis Bush (JEB is an acronym), governor of Florida from 1999-2007, brother of former President George W. Bush and the son of former President George H.W. Bush. </p>
							<p><strong>Positions:</strong><p>
							<p>A new healthcare plan that would repeal Obamacare and replace with a new health insurance tax credits. Would combine today's seven income tax brackets into three, with a top rate of 28 percent, while eliminating several tax credits and deductions. Wants to provide more support for the Kurds in Iraq in order to give them more power against the Islamic State. </p>
							<p><strong>Ranked Fifth in Nov. 10th main debate. </strong></p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Ben Carson</h2>
                            <hr class="star-primary">
                            <img src="static/img/bencarson.jpg" class="img-responsive img-centered" alt="">
                            <p>Carson is a retired neurosurgeon who rose to political fame after speaking at the National Prayer Breakfast in 2013. Received the Presidential Medal of Freedom in 2008 for his medical work. Carson is an outspoken opponent of Obamacare. He also has a history of controversial comments, including that Obamacare is the "worst thing … since slavery."
							</p>
							<p><strong>Positions:</strong></p>
							<p>Wants to ratify a Balanced Budget Amendment to the Constitution. Wants to keep the detention camp at Guantanamo Bay open. Opposes any federal funding for Planned Parenthood. </p>
							<p><strong>Ranked Second in Nov. 10th main debate. </strong></p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Chris Christie</h2>
                            <hr class="star-primary">
                            <img src="static/img/chris.jpg" class="img-responsive img-centered" alt="">
                            <p>Christie has been the governor of New Jersey since 2010. Prior to that, he was the U.S. attorney for the District of New Jersey from 2001 to 2008. Although he was cleared from wrongdoing in the infamous "Bridgegate" scandal, Christie's reputation still suffers from it. Christie is well known for having a moderate-to-conservative record in deep-blue New Jersey and vehemently defending that record against hecklers, including teachers union members. Christie said "the national teachers union" deserves a punch in the face in an August 2015 interview.</p>
							<p><strong>Postions:</strong></p>
							<p>Wants to reform entitlement programs, including partial means-testing of Social Security for future retirees earning over $80,000. Wants to undo the sequestration budget cuts on defense. Wants a border wall "where appropriate," especially near Southern cities. </p>
							<p>Ranked Ninth in the Nov. 10th main debate. </p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Ted Cruz</h2>
                            <hr class="star-primary">
                            <img src="static/img/tedcruz.jpg" class="img-responsive img-centered" alt="">
                            <p>Cruz became a U.S. senator from Texas in 2013, when a delayed election calendar helped him get his message out and defeat an establishment Republican candidate who outspent him three-to-one. He was a partner at Morgan Lewis law firm and solicitor general for the state of Texas. He has successfully argued cases before the Supreme Court. Cruz was criticized by some and became a hero to others by trying to defund Obamacare during budget negotiations in Fall 2013 that ended in a government shutdown.</p>
							<p><strong>Positions:</strong></p>
							<p>Opposes the Export-Import Bank. Opposes ethanol subsidies through the renewable fuel standard. Wants states to be able to have their own definitions of marriage.</p>
							<p><strong>Ranked Fourth in the Nov. 10 main debate.</strong></p>

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Carly Fiorina</h2>
                            <hr class="star-primary">
                            <img src="static/img/carly.jpg" class="img-responsive img-centered" alt="">
                            <p>Fiorina was CEO of Hewlett-Packard from 1999 to 2005. She is the only Republican woman in the race. Fiorina is the chairman of the American Conservative Union Foundation, which perhaps helps her credibility with Tea Partiers. She has never held elective office. She ran for U.S. Senate in California in 2010, losing 52 to 42 percent to the incumbent, Sen. Barbara Boxer. Her campaign's complaints over CNN's debate criteria led to an alteration in the Sept. 16 debate rules that earned her a spot in the prime-time debate. After Donald Trump's "Look at that face" comment, Fiorina criticized Trump in a campaign ad and the Sept. 16 debate.</p>
							<p><strong>Positios:</p></strong>
							<p>Supports the DREAM Act, which would allow some undocumented immigrants to earn permanent legal residency, but wants to secure the border first. Wants to arm Ukraine to fight rebels backed by Russians. Wants to cut federal tax revenue, but has yet to produce a specific plan on it.</p>
							<p><strong>Ranked Sixth in the Nov. 10th Main Debate.</strong></p>

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Jim Gilmore</h2>
                            <hr class="star-primary">
                            <img src="static/img/jim.jpg" class="img-responsive img-centered" alt="">
                            <p>Gilmore served as governor of Virginia from 1998 to 2002 (term limits prevented another run). Gilmore also ran for president in the 2008 cycle, but withdrew after six months. Instead he ran for the U.S. Senate, losing by 21 points to now-Senator Mark Warner. As governor, Gilmore phased out property taxes on vehicles and cut spending during the early 2000’s recession. Gilmore is also a veteran of the U.S. Army and was chairman of the Republican National Committee in 2001.</p>
							<p><strong>Positions:</strong></p>
							<p>Wants to repeal and replace Obamacare with a healthcare bill that would allow insurance to be sold across state lines, among. Believes climate change is real but opposes Obama's methods, including cap and trade, to fix it.Seems to support deportation of all illegal immigrants with no path to citizenship.</p>
							<p><strong>Ranked Fifteenth in the Nov. 10th Main Debate.</strong></p>

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Lindsey Graham</h2>
                            <hr class="star-primary">
                            <img src="static/img/lind.jpg" class="img-responsive img-centered" alt="">
                            <p> Graham has been a U.S. senator from South Carolina since 2003. He has been in some form of elected office since 1993, also serving in the South Carolina House of Representatives and the U.S. House of Representatives. He is a firm believer in foreign policy interventionism, but his centrist views on environmental policy are rare in the GOP. He is frequently identified as an ally of Sen. John McCain, R-Ariz., and backed McCain's campaign finance law in 2002.</p>
							<p><strong>Positions:</strong></p>
							<p>Wants to send 10,000 troops to the Middle East to fight the Islamic State as part of an effort with regional allies. Wants to introduce means testing into entitlement programs and gradually raise the retirement age, without affecting current and near-retirees. Opposes federal involvement in Common Core.</p>
							<p><strong>Ranked Thirteenth in the Nov. 10th Main Debate.</strong></p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Mike Huckabee</h2>
                            <hr class="star-primary">
                            <img src="static/img/mike.jpg" class="img-responsive img-centered" alt="">
                            <p>Huckabee served as governor of Arkansas from 1996 to 2007. Following his failed campaign for the GOP presidential nomination in 2008, he hosted the "Huckabee" show on Fox News until early 2015. Huckabee is well-known for his very conservative positions on social and cultural issues, and was an ordained Southern Baptist minister prior to becoming Arkansas' lieutenant governor. Huckabee is critical of some conservative economic policies, such as reforming Social Security.</p>
							<p><strong>Positions:</strong></p>
							<p>Wants to eliminate the income tax (and the IRS) and replace it with a 23 percent federal sales tax, also known as the FairTax. Wants a unified Jerusalem. Wants to "kill" Common Core and abolish the federal Department of Education.</p>
							<p><strong>Ranked Ninth in the Nov. 10th main debate.</strong></p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>John Kasich</h2>
                            <hr class="star-primary">
                            <img src="static/img/john.jpeg" class="img-responsive img-centered" alt="">
                            <p>Kasich has served as the governor of Ohio since 2011. Kasich had an 18-year stay in Congress until he decided against re-election, instead trying a presidential bid that didn't last beyond the 2000 Iowa Straw Poll. Early in his time as governor, Kasich signed a law strictly limiting collective bargaining rights, but the law was overturned in a referendum. Kasich has been criticized by conservatives for expanding Medicaid in Ohio through Obamacare, and also for his support for Common Core.</p>
							<p><strong>Positions:</strong></p>
							<p>Wants to lift the budget sequestration caps on military spending, while cutting waste in the Pentagon. Wants all health insurance regulation to be done by states. Supports ending federal funding for Planned Parenthood, but doesn't want to shut down the government over it.</p>
							<p><strong>Ranked Seventh in the Nov. 10th main debate.</strong></p>

                     
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>George Pataki</h2>
                            <hr class="star-primary">
                            <img src="static/img/george.jpg" class="img-responsive img-centered" alt="">
                            <p>Pataki served three terms as governor of New York, ending in 2006. Since then, Pataki has been an environmental lawyer and run his own business development firm focused on clean energy. He also spent some time helping run Revere America, an anti-Obamacare organization. Pataki's record as governor of deep-blue New York puts him closer toward the moderate part of the conservative spectrum.</p>
                            <p><strong>Positions:</strong></p>
							<p>Opposes Common Core, and any other national education standards imposed on states. Calls the Iran deal a "colossal catastrophic capstone to the failed Obama-Clinton foreign policy." Would cut the top corporate income tax rate to 24 percent, and cut the rate for manufacturers down to 12 percent.</p>
							<p><strong>Ranked Fourteenth in the Nov. 10th main debate.</strong></p>

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal11" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Rand Paul</h2>
                            <hr class="star-primary">
                            <img src="static/img/paul.jpeg" class="img-responsive img-centered" alt="">
                            <p>Paul has been a senator from Kentucky since 2011, after Tea Party support helped him upset an establishment party-favorite Republican in the primary. The son of a former presidential candidate, former Rep. Ron Paul, R-Texas, Paul already has a solid base of libertarian support. He was cheered by conservatives in 2013 for his 13-hour filibuster of now-CIA Director John Brennan's nomination, motivated by President Obama's drone strike policy. Paul has campaigned on "trying to kill the tax code," preferring dramatically simpler and lower taxes.</p>
							<p><strong>Positions:</strong></p>
							<p>Wants to simplify the personal income tax into one rate of 14.5 percent, with a standard deduction of $15,000 and a personal exemption of $5,000. Would seek Congressional approval before sending troops "into harm's way." Wants to audit the Federal Reserve and place its regulatory power back with Congress.</p>
							<p><strong>Ranked Eighth in the Nov. 10th main debate.</strong></p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal12" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Marco Rubio</h2>
                            <hr class="star-primary">
                            <img src="static/img/rubio.jpg" class="img-responsive img-centered" alt="">
                            <p>Rubio has been a senator from Florida since 2011, after Tea Party support helped push him past Charlie Crist in a three-way general election. Prior to that, Rubio had a nine-year career in the Florida House of Representatives, two years of which he was speaker of the House. Rubio's Cuban descent has been a notable influence on his support for conservative immigration reform and on Cuban-American relations, an issue he has criticized Obama heavily on. </p>
							<p><strong>Positions:</strong></p>
							<p>Wants to reform the tax code into two brackets at 15 percent and 35 percent. Would eliminate many tax credits and deductions but create an additional child tax credit of $2,500. Wants to repeal Obamacare and replace it with refundable tax credits for purchasing health insurance. Would let insurance be sold across state lines. Wants to undo the sequestration budget cuts on defense and use funds to "modernize our forces."</p>
							<p><strong>Ranked Third in the Nov. 10th main debate.</strong></p>

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="portfolio-modal modal fade" id="portfolioModal13" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Rick Santorum</h2>
                            <hr class="star-primary">
                            <img src="static/img/rick.jpeg" class="img-responsive img-centered" alt="">
                            <p>Santorum was a U.S. senator from Pennsylvania from 1995 to 2007. He is well-known for his 2012 presidential campaign, when he arguably finished second in the GOP primaries and won the Iowa Caucuses. Santorum has been the CEO of EchoLight Studios since 2013, a film company that produces Christian films. He is most famous for his very conservative positions on social issues, like a ban on most abortions.</p>
							<p><strong>Positions:</strong></p>
							<p>Wants to withhold federal funds from sanctuary cities that refuse to cooperate with federal authorities. Also wants to reduce legal immigration by 25 percent. Wants to reform taxes into 20 percent rates on individual and business income, while dramatically cutting the size of the IRS. Thinks the Iran deal should be treated like a treaty, and be rejected by the Senate.</p>
							<p><strong>Ranked Eleventh in the Nov. 10th main debate.</strong></p>

                     
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal14" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Donald Trump</h2>
                            <hr class="star-primary">
                            <img src="static/img/trump.jpeg" class="img-responsive img-centered" alt="">
                            <p>Trump is the son of Fred Trump, a wealthy real estate developer. Donald Trump is a successful businessman in his own right. Trump has flirted with running in the past and appeared at multiple Conservative Political Action Conferences. His brash personality and wealth make him one of the most well-known figures in the country. Although he was a Republican before 1999, Trump was a registered Democrat from 2001-2009 and previously supported universal healthcare. He was the host of "The Apprentice," a reality show on NBC.</p>
							<p><strong>Positions:</strong></p>
							<p>Wants to reform taxes into four brackets at zero, 10, 20, and 25 percent, while phasing out all deductions except for the charitable and mortgage interest deductions. In response to mass gun tragedies, wants to expand treatment programs for people with mental health problems. Wants to build a wall across the Mexican border, and would increase fees on border crossing cards, temporary visas and entry at border ports to pay for it.</p>
							<p>Ranked First in the Nov. 10th main debate</p>
                       
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal15" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Hillary Clinton</h2>
                            <hr class="star-primary">
                            <img src="static/img/hilary.jpg" class="img-responsive img-centered" alt="">
                            <p>Clinton is the best-known candidate in the race. Voters are familiar with her from her time as secretary of state, 2008 presidential campaign and time in the U.S. Senate. Her husband is obviously pretty famous too. It remains to be seen how her lesser-known controversies will affect her White House bid. Clinton has been accused of corruption for allowing the Clinton Foundation to accept donations from foreign governments and hiding emails from when she was secretary of state.</p>
							<p><strong>Positions:</strong></p>
							<p>Opposes the Trans-Pacific Partnership free trade agreement. Opposes Keystone XL pipeline. Wants to raise taxes on capital gains held for one to six years.</p>

                       
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal16" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Martin O'Malley</h2>
                            <hr class="star-primary">
                            <img src="static/img/martin.jpg" class="img-responsive img-centered" alt="">
                            <p>O'Malley was the governor of Maryland for eight years until January 2015. Since then he has visited Iowa and New Hampshire to talk about liberal priorities such as same-sex marriage and the minimum wage, calling for a raise to $15 an hour. He has been an outspoken opponent of pending trade agreements. Prior to being governor, O'Malley was the mayor of Baltimore for seven years. His record there has been criticized after the Baltimore riots in April. As governor, O'Malley signed 40 tax hikes into law.</p>
							<p><strong>Positions:</strong></p>
							<p>Wants more gun control, through background checks on every gun sale and the establishment of a national firearms registry. Opposes new oil drilling permits both offshore and in Alaska. Wants to expand student aid by increasing Pell Grant payments and tripling participation in the federal work-study program.</p>
							
                            
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal17" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Bernie Sanders</h2>
                            <hr class="star-primary">
                            <img src="static/img/bernie.jpg" class="img-responsive img-centered" alt="">
                            <p>Sanders has been a U.S. senator from Vermont since 2007, prior to which he served in the House of Representatives for 16 years. He's now the ranking member of the Senate Budget Committee and chaired the Senate Veterans' Affairs Committee for two years. Technically, Sanders is an independent and has described himself as a democratic socialist in the past. Sanders is the most liberal candidate in the race, having long-championed liberal causes like single-payer health care, the expansion of Social Security and opposition to free trade.</p>
							<p><strong>Positions:</strong></p>
							<p>Wants to enact a single-payer healthcare system through Medicare for all. Wants to make college free for everyone by taxing financial transactions.Wants to raise payroll, estate, and corporate income taxes.<p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="static/js/classie.js"></script>
    <script src="static/js/cbpAnimatedHeader.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/js/freelancer.js"></script>

</body>

</html>
