{% extends "layout.html" %}

{% block content %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('static/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
						<h2>Callidate</h2>
                        <hr class="star-light">
                        <h3 class="skills">Wondering what are some of the highlights of the last debate? Read over the user blog posts!</h3>
                    </div>
                </div>
            </div>
        </div>
    </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="text-center">
	  
	{% if error %}
	<style>
	  input[type="text"], input[type="password"] {
	  border:1px solid red;
	  }
	</style>
	<p style="color:red; margin-bottom:0; margin-top:0;">{{error}}</p>
	{% endif %}
	<form method="POST" action="login" style>
	  Username:
	  <br>
	  <input type="text" name="username">
	  <hr class="small" style="disply:hidden">
	  Password:
	  <br>
	  <input type="password" name="password">
	  <hr class="small" style="disply:hidden">
	  <input type="submit" name="submit" value="Submit" class="btn btn-default">
		<hr class="small" style="display:hidden;">
		<a href="/signup" class="btn btn-default">
			Create User
		</a>
	</form>
	
	<hr class="small" style="display:hidden;">
	  
	 </div>
    </div>
  </div>
  
      <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Callidate 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>
  
  <!-- jQuery -->
  <script src="static/js/jquery.js"></script>
  
  <!-- Bootstrap Core JavaScript -->
  <script src="static/js/bootstrap.min.js"></script>
  
  <!-- Custom Theme JavaScript -->
  <script src="static/js/clean-blog.min.js"></script>
  
{% endblock %}